<!DOCTYPE html>
<html>
  <head>
    <title>About <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>

  <body>
    <nav class="navbar">
      <a href="/home">Home</a>
      <a href="/about">About <%= shopData.shopName %></a>
    </nav>

    <div class="aboutbody">
      <div class="aboutwrapper">
        <h3>About <%=shopData.shopName%></h3>
        <p>
          This website is for those who love sharing their love of food with
          others
        </p>
      </div>
    </div>
  </body>
</html>
