<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>

  <body>
    <div class="indexbody">
      <div class="indexwrapper">
        <h3>Welcome to <%=shopData.shopName%></h3>
        <h6>Index:</h6>

        <p><a href="about">About <%=shopData.shopName%></a></p>
        <p><a href="api/recipes">My very own API</a></p>
        <br />
        <p>To access the pages below <a href="users/login"> Login here</a></p>

        <p><a href="recipes/search">Search for recipes</a></p>
        <p><a href="recipes/list">Recipe list</a></p>
        <p><a href="recipes/addrecipe">Add a new recipe</a></p>
        <br />
        <p>
          Don't have an account?<a href="users/register"> Register</a> with us
          today
        </p>
      </div>
    </div>
  </body>
</html>
